{
  "azure_storage_connection_string": "",
  "souce_ranges": "",

  "hash_salt": "",
  "secret_key": "",

  "rabbitmq_secret": "",
  "auth_db_password": "",
  "auth_password": "",

  "airflow_secret_key": "",
  "airflow_fernet_key": "",
  "airflow_db_password": "",
  "airflow_microservice": ""
}
